<head>
  <link rel="stylesheet" type="text/css" href="./index.css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
</head>

<body>
<div class="container">
  <div>
  Your new space has been added.
  </div>
  <div>
    <a href="/all"><button id="viewAll" class ="btn">Back</button></a>
  </div>
</div>
</body>
