<head>
  <link rel="stylesheet" type="text/css" href="./addSpace.css">
</head>

<body>
  <h1> Add a Space</h1>
  <p>Tell people abut your space</p>
    <div id ="form-div">
      <form action= "/add-confirmation">
        <label>Owner:</label>
        <input type="text" name="owner" >
        <br>
        <label>Address:</label>
        <br>
        <input type="text" name="address">
        <br>
        <label>Price per night:</label>
        <input type="text" name="price">
        <br>
        <label>Contact:</label>
        <input type="text" name="contact">
        <input type="submit" value="Submit">
    </form>

  <div>
      <a href="/"><button id="back">Back</button></a>
  </div>
    </div>
</body>
