<head>
  <link rel="stylesheet" type="text/css" href="./index.css">
</head>

<body>
  <h1>MakersBnB</h1>
    <div>
      <a href="/add-space"><button id="addSpace">Add space</button></a>
      <a href="/all"><button id="viewSpace">View space</button></a>
    </div>
</body>
