<head>
  <link rel="stylesheet" type="text/css" href="./index.css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
</head>

<body>
  <div class="container">
  <div>
    <h1 id="pagetitle">MakersBnB</h1>
  </div>
  <div>
    <a href="/add-space"><button id="addSpace" class ="btn">Add space</button></a>
    <a href="/all"><button id="viewSpace" class ="btn">View space</button></a>
  </div>
</div>
 <footer>
    <% include ./partials/footer %>
 </footer>


</body>
