<head>
  <link rel="stylesheet" type="text/css" href="./viewSpace.css">
</head>

<body>
<p>Information about your selected space</p>

<div>
  <label>Owner:</label>
  <p>Owner info</p>
  <label>Adress:</label>
  <p>Address info</p>
  <label>Price per night:</label>
  <p>Price info</p>
  <label>Contact:</label>
  <p>Contact info</p>
</div>
<div>
  <a href="/booking-confirmation"><button id="book">Book</button></a>
  <a href="/all"><button id="back">Back</button></a>
</div>


</body>
