<head>
  <link rel="stylesheet" type="text/css" href="./viewAll.css">
</head>

<body>

  
  <div>
    <table>
      {{#rows}}
        <tr>
          <td>{{title}}</td>
          <td>{{listing_desc}}</td>
          <td>{{owner}}</td>
        </tr>
      {{/rows}}

    </table>
    <p name="viewTitle">title</p>
    <img name="image">
    <a href="/view-space"><button id="viewThisSpace">View Space</button></a>
  </div>
 




</body>
