<head>
  
</head>

<body>
<p>Information about your selected space</p>

<div>
    <table>
      {{#rows}}
        <tr>
          <td>{{title}}</td>
          <td>{{owner}}</td>
        </tr>
      {{/rows}}

    </table>
    <p name="viewTitle">title</p>
    <img name="image">
    <a href="/view-space"><button id="viewThisSpace">View Space</button></a>
  </div>
<div>
  <a href="/booking-confirmation"><button id="book">Book</button></a>
  <a href="/all"><button id="back">Back</button></a>
</div>


</body>
