<head>
  <link rel="stylesheet" type="text/css" href="./viewAll.css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
</head>

<body>


  <div>


    <table>

      {{#rows}}

        <tr>

          <td id ="title">title: {{title}}<br>Owner: {{owner}}


            <form method="GET" action="viewSpace/{{id}}">
            <button id = "view" type="submit">view</button>

            </form>
          </td>

        </tr>

      {{/rows}}


    </table>
    <a href="/view-space"><button id="viewThisSpace">View Space</button></a>
  </div>





</body>
