<head>
  <link rel="stylesheet" type="text/css" href="./viewAll.css">
</head>

<body>

  <%for(var i = 0; i < 4; i++){%>
  <div>
    <p name="viewTitle">title</p>
    <img name="image">
    <a href="/view-space"><button id="viewThisSpace">View Space</button></a>
  </div>
  <%}%>




</body>
