body{
    font-family: 'Josefin Sans', sans-serif;
      background-color: #BC6C25;
}
input[type=submit], #back{
 width: 100%;
 background-color: white;
 color: #BC6C25;
 padding: 14px 20px;
 margin: 8px 0;
 border: none;
 cursor: pointer;
 font-size: 20px;
}

#back{
  width: 25%;
  float: right;
  border-radius: 8px;
}
​
input[type=submit]:hover {
 background-color: #45a049;
}

label{
  color:white;
}
input{
  height: 50px;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 20px 0;
  display: inline-block;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Josefin Sans', sans-serif;

}

#listing_desc{
  height: 200px;
}
​

​
#form-div{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

#main-container{
  width: 30%;
  align-items: center;
  margin: auto;
  margin-top: 120px;
}

h1, p{
  text-align: center;
  color: white;
}

.toptext{
  margin-bottom: 50px;
}
