body{
  background-color: #BC6C25;
}

#title{
  background-color: white;
  width: 500px;
}

#view{
  float: right;
  width: 100px;
  height: 50px;
  border-radius: none;
  border-color: #BC6C25;
  background-color: white;

}
